

<div class="orders">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>List of orders</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Orders</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="card">

                <div class="card-header">
                    <a href="orders/create" class="btn btn-primary">
                        <i class="fas fa-plus mr-1"> Create order</i>
                    </a>
                </div>
                <!-- /.card-header -->
                <div class="card-body col-12 table-responsive">
                    <table id="data-table" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th style="width: 10px">N</th>
                            <th>Author</th>
                            <th>Freelancer</th>
                            <th>Scheduled for</th>
                            <th>Deadline</th>
                            <th>Status</th>
                            <th>Data of complete</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="records">

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div><!-- /.container-fluid -->
    </section>
</div>