<div class="freelancer">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>View freelancers</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/freelancers">Freelancers</a></li>
                        <li class="breadcrumb-item active">Profile of freelancer</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" id="avatar"
                                     src=""
                                     alt="User profile picture">
                            </div>
                            <h3 class="profile-username text-center" id="name"></h3>
                            <p class="text-muted text-center">Freelancer</p>
                            <p class="text-muted text-center level" id="level"></p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <a href="/freelancers/edit?id=" class="btn w-100 btn-warning" id="edit-link">Edit</a>
                    <a href="/freelancers/delete?id=" class="btn w-100 btn-danger mt-2" id="delete-link">Delete</a>
                </div>
                <div class="col-md-9">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">About Me</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fas fa-envelope mr-1"></i>Email</strong>
                            <p class="text-muted" id="email"></p>
                            <hr>

                            <strong><i class="fas fa-book mr-1"></i>Education</strong>
                            <p class="text-muted" id="education"></p>
                            <hr>

                            <strong><i class="fas fa-map-marker-alt mr-1"></i>Location</strong>
                            <p class="text-muted" id="location"></p>
                            <hr>

                            <p class="text-muted" id="skills"></p>
                            <hr>

                            <strong><i class="fas fa-file-alt mr-1"></i>Info</strong>
                            <p class="text-muted" id="info"></p>
                            <hr>

                            <strong><i class="fas fa-clock mr-1"></i>Created</strong>
                            <p class="text-muted" id="created"></p>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
</div>